= simple_form_for(@caddy_pay_rate) do |f|
  = f.error_notification

  .form-inputs
    =# f.collection_select :ClubCompanyID, current_user.clubs.order(:CourseName), :ClubCourseID, :CourseName, {selected: params[:club_id]}
    = f.input :ClubCompanyID, :as => :hidden, :input_html => { :value => "#{@caddy_pay_rate.new_record? ? @club.id : @caddy_pay_rate.club.id}" }
    = f.input :RankingAcronym, collection: @club.caddy_rankings_array.uniq, include_blank: false
    = f.input :Type, collection: ["Carry", "Chase"], include_blank: false
    = f.input :NbrHoles, collection: [9, 18], include_blank: false
    = f.input :Payrate, as: :string

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = f.button :submit, class: 'btn btn-primary'
