= simple_form_for(@caddy_pay_rate) do |f|
  = f.error_notification

  .form-inputs
    =# f.collection_select :ClubCompanyID, current_user.courses.order(:CourseName), :ClubCourseID, :CourseName, {selected: params[:course_id]}
    = f.input :ClubCompanyID, :as => :hidden, :input_html => { :value => "#{@caddy_pay_rate.new_record? ? @course.id : @caddy_pay_rate.course.id}" }
    =# f.input :RankingAcronym, collection: @course.caddy_rankings_array.uniq, include_blank: false
    = f.association :caddy_rank_desc, collection: @course.caddy_rank_descs, label_method: :RankingAcronym, label: "Ranking", value_method: :id, include_blank: false
    = f.input :Type, collection: ["Carry", "Chase"], include_blank: false
    = f.input :NbrHoles, collection: [9, 18], include_blank: false
    = f.input :Payrate, as: :string

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = f.button :submit, class: 'btn btn-primary'
