= simple_form_for(@caddy_pay_rate) do |f|
  = f.error_notification

  .form-inputs
    %p= f.collection_select :ClubCompanyID, current_user.clubs.order(:CourseName), :ClubCourseID, :CourseName, {selected: params[:club_id]}
    = f.input :RankingAcronym, collection: @club.caddy_rankings_array.uniq, include_blank: false
    = f.input :Type, collection: ["Carry", "Chase"], include_blank: false
    = f.input :NbrHoles, collection: [9, 18], include_blank: false
    = f.input :Payrate, as: :string

  .form-actions
    = f.button :submit
