.container
  %br
  - unless current_course.blank?
    - if current_user.courses.count <= 1
      %br
      %p.lead
        - unless current_course.blank?
          = current_course.name 
        - else
          = current_user.courses.first.name unless current_user.courses.blank?
    - else
      %p
        = form_tag caddy_pay_rates_path, id: 'courses_form', method: 'get', class: 'form-inline' do |f|
          = select_tag :course_id, options_from_collection_for_select(current_user.courses, "id", "name", @course.id), onchange: "$(this).parent('form').submit();", class: "form-control"

  - @caddy_pay_rates.group_by{|cpr| cpr.course}.each do |course, caddy_pay_rates|
    .card.card-block
      %h4.card-title CaddyPayRates
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Ranking
              %th Type
              %th Holes
              %th Rate
              %th
          %tbody
            - caddy_pay_rates.each do |caddy_pay_rate|
              %tr
                %td= caddy_pay_rate.acronym
                %td= caddy_pay_rate.Type
                %td= caddy_pay_rate.NbrHoles
                %td= number_to_currency(caddy_pay_rate.Payrate)
                %td
                  = link_to 'Show', caddy_pay_rate, class: 'btn btn-secondary'
                  = link_to 'Edit', edit_caddy_pay_rate_path(caddy_pay_rate), class: 'btn btn-primary'
                  = link_to 'Delete', caddy_pay_rate, :method => :delete, class: 'btn btn-danger', :data => { :confirm => 'Are you sure?' }
    %p= link_to "New #{course.name} caddy pay rate", new_caddy_pay_rate_path(course_id: course.id), class: 'btn btn-primary'