.container
  %p.lead
    Club:
    = @caddy_pay_rate.club.name
  %p.lead
    Ranking:
    = @caddy_pay_rate.RankingAcronym
  %p.lead
    Type:
    = @caddy_pay_rate.Type
  %p.lead
    Holes:
    = @caddy_pay_rate.NbrHoles
  %p.lead
    Rate:
    = number_to_currency(@caddy_pay_rate.Payrate)

  = link_to 'Edit', edit_caddy_pay_rate_path(@caddy_pay_rate.id, ranking_acronym: @caddy_pay_rate.RankingAcronym)
  \|
  = link_to 'Back', caddy_pay_rates_path
