.container
  %br
  .card.card-block
    %p.lead
      Ranking:
      = link_to @caddy_pay_rate.acronym, @caddy_pay_rate.caddy_rank_desc
    %p.lead
      Club:
      = link_to @caddy_pay_rate.club.name, @caddy_pay_rate.club
    %p.lead
      Type:
      = @caddy_pay_rate.Type
    %p.lead
      Holes:
      = @caddy_pay_rate.NbrHoles
    %p.lead
      Rate:
      = number_to_currency(@caddy_pay_rate.Payrate)
  %p
    = link_to 'Edit', edit_caddy_pay_rate_path(@caddy_pay_rate), class: 'btn btn-primary'
    = link_to 'Delete', @caddy_pay_rate, :method => :delete, class: 'btn btn-danger', :data => { :confirm => 'Are you sure?' }
