.container
  %br
  %h3
    = @club.name
  %p
    %a{href: events_path, class: 'btn btn-warning'}
      %i.fa.fa-calendar
      Calendar
  .card.card-block    
    %p.lead= "Transaction Fee: #{number_to_currency(@club.transaction_fee)}"
    %p.lead= "Balance: #{number_to_currency(@club.balance)}"
  
  %br

  .card.card-block
    %h4.card-title Cut Transactions
    - unless @cut_transactions.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th DateTime
              %th Amount
              %th
          %tbody
            - @cut_transactions.reverse.each do |cut_transaction|
              %tr
                %td= cut_transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                %td= number_to_currency(cut_transaction.amt_auth)
                %td
                  = link_to "Show", cut_transaction, class: 'btn btn-secondary'
    - else
      %p.lead None

  .card.card-block
    %h4.card-title Caddies
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Ranking
            %th Checked In
            %th
        %tbody
          - @caddies.each do |caddy|
            %tr
              %td= caddy.full_name
              %td= link_to caddy.rank_description, caddy.caddy_rank_desc
              %td= caddy.CheckedIn.in_time_zone(current_user.time_zone).strftime("%l:%M %p") if caddy.checkin_today? 
              %td
                = link_to "Show", caddy, class: 'btn btn-secondary'
                = link_to 'Edit', edit_caddy_path(caddy), class: 'btn btn-primary'

  
  .card.card-block
    %h4.card-title Caddy Pay Rates
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Ranking
            %th Type
            %th Holes
            %th Rate
            %th
        %tbody
          - @caddy_pay_rates.each do |caddy_pay_rate|
            %tr
              %td= link_to caddy_pay_rate.acronym, caddy_pay_rate.caddy_rank_desc
              %td= caddy_pay_rate.Type
              %td= caddy_pay_rate.NbrHoles
              %td= number_to_currency(caddy_pay_rate.Payrate)
              %td
                = link_to 'Show', caddy_pay_rate, class: 'btn btn-secondary'
                = link_to 'Edit', edit_caddy_pay_rate_path(caddy_pay_rate), class: 'btn btn-primary'
                = link_to 'Delete', caddy_pay_rate, :method => :delete, class: 'btn btn-danger', :data => { :confirm => 'Are you sure?' }
    .card-link= link_to "New caddy pay rate", new_caddy_pay_rate_path(club_id: @club.id), class: 'btn btn-primary'

  .card.card-block
    %h4.card-title Caddy Rank Descriptions
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Ranking
            %th Description
            %th
        %tbody
          - @caddy_rank_descs.each do |caddy_rank_desc|
            %tr
              %td= caddy_rank_desc.RankingAcronym
              %td= caddy_rank_desc.RankingDescription
              %td
                = link_to 'Show', caddy_rank_desc, class: 'btn btn-secondary'
                = link_to 'Edit', edit_caddy_rank_desc_path(caddy_rank_desc), class: 'btn btn-primary'
                - if caddy_rank_desc.caddies.blank? and caddy_rank_desc.caddy_pay_rates.blank?
                  = link_to 'Delete', caddy_rank_desc, :method => :delete, class: 'btn btn-danger', :data => { :confirm => 'Are you sure?' }
                - else
                  %button.btn.btn-danger{"data-content" => "You must first remove this Caddy Rank from all Caddies and Caddy Pay Rates.", "data-toggle" => "popover", :title => "Delete Caddy Rank", "data-placement" => "top", :type => "button"} Delete

    .card-link= link_to "New caddy rank description", new_caddy_rank_desc_path(club_id: @club.id), class: 'btn btn-primary'
  %p
    = link_to 'Edit club', edit_club_path(@club), class: 'btn btn-primary'
