= simple_form_for(@caddy) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name, disabled: true
    = f.input :last_name, disabled: true
    = f.input :RankingAcronym, collection: @club.caddy_rankings_array, include_blank: false

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = f.button :submit, class: 'btn btn-primary'
