= simple_form_for(@caddy) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.collection_select :club_ids, Club.order(:name), :id, :name, {}, {multiple: true}

  .form-actions
    = f.button :submit
