= simple_form_for(@caddy) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ClubCompanyNbr, as: :hidden, :input_html => {:value => current_user.company_id}
    = f.simple_fields_for :customer do |customer_form|
      = customer_form.input :NameF, label: 'First name', required: true
      = customer_form.input :NameL, label: 'Last name', required: true
      = customer_form.input :PhoneMobile, label: 'Phone'
    =# f.input :RankingAcronym, collection: @course.caddy_rankings_array, include_blank: false
    =# f.input :RankingAcronym, collection: current_user.company.caddy_rank_descs, :id, include_blank: false
    = f.association :caddy_rank_desc, collection: @course.caddy_rank_descs, label_method: :RankingAcronym, value_method: :id, include_blank: false
    =# f.input :CheckedIn, as: :time, :minute_step => 15, :ampm => true, :default => nil
    = f.input :active, inline_label: 'Active'

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = f.button :submit, class: 'btn btn-primary'
