= simple_form_for(@caddy) do |f|
  = f.error_notification

  .form-inputs
    = f.input :ClubCompanyNbr, as: :hidden, :input_html => {:value => @club.id}
    = f.input :first_name, disabled: true
    = f.input :last_name, disabled: true
    =# f.input :RankingAcronym, collection: @club.caddy_rankings_array, include_blank: false
    =# f.input :RankingAcronym, collection: current_user.company.caddy_rank_descs, :id, include_blank: false
    = f.association :caddy_rank_desc, collection: @club.caddy_rank_descs, label_method: :RankingAcronym, value_method: :id, include_blank: false
    = f.input :CheckedIn, as: :time, :minute_step => 15, :ampm => true, :default => nil

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = f.button :submit, class: 'btn btn-primary'
