#pay_caddy_by_member.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .modal-title
          .lead 
            %i.fa.fa-dollar
            = "Pay #{@caddy.full_name}"
      .modal-body
        = form_tag pay_caddy_path(@caddy), id: 'pay_caddy_by_member_form', method: 'post', multipart: true, class: 'form-inline' do
          %p= select_tag :member_id, options_from_collection_for_select(current_user.members.active.order(:NameL), "id", "full_name_with_member_number"), prompt: '-- Select member --', class: "form-control member_select", style: "width: 100%;", required: true
          %p
            .input-group
              %span.input-group-addon
                %i.fa.fa-dollar
              = number_field_tag :amount, nil, :placeholder => "Amount", class: "form-control input-lg", step: '1', :inputmode => "numeric", :min => "0", :pattern => "[0-9]*", required: true
          %p
            .input-group
              %span.input-group-addon
                %i.fa.fa-hashtag
              = number_field_tag :reference_number, nil, :placeholder => "Reference Number", class: "form-control input-lg", step: '1', :inputmode => "numeric", :min => "0", :pattern => "[0-9]*"
          %p= text_area_tag :note, nil, :placeholder => "Note", class: "form-control input-lg", style: "width: 100%;"
          %p= file_field_tag :file
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-success{id: 'pay_by_member_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Payment"}} 
              %i.fa.fa-dollar
              Payment