.container
  %br
  %p
    = form_tag caddies_path, id: 'caddies_form', method: 'get', class: 'form-inline' do |f|
      - unless current_user.courses.count <= 1
        = select_tag :course_id, options_from_collection_for_select(current_user.courses, "id", "name", @course.id), class: "form-control"
      = select_tag :caddy_rank_desc_id, options_from_collection_for_select(@course.caddy_rank_descs, "ID", "RankingAcronym", params[:caddy_rank_desc_id]), prompt: "Choose Rank", class: "form-control"
      = search_field_tag :q, params[:q], :placeholder => "Search caddies", class: "form-control input-lg", autofocus: true
      %button.btn.btn-secondary{id: 'caddy_search_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
        %i.fa.fa-search
      %small.text-muted Search by first name, last name, or phone.
      .pull-right
        %a{href: '#', class: 'btn btn-secondary', "data-toggle" => "modal", "data-target" => "#send_sms_notification"}
          %i.fa.fa-commenting
          Text Message
  #send_sms_notification.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-sm{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          .modal-title
            .lead 
              %i.fa.fa-commenting
              Text Message
        .modal-body
          = form_tag send_group_text_message_caddies_path, id: 'send_caddies_sms_form', method: 'get', class: 'form-inline' do |f|
            = hidden_field_tag :course_id, params[:course_id]
            = hidden_field_tag :caddy_rank_desc_id, params[:caddy_rank_desc_id]
            = hidden_field_tag :q, params[:q]
            = hidden_field_tag :balances, params[:balances]
            = text_area_tag :message_body, @message_body, :placeholder => "Message", class: "form-control input-lg", rows: 4, style: 'width:100%', autofocus: true
            .modal-footer
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              %button.btn.btn-primary{id: 'send_sms_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
                Send

  .card.card-block
    %h4.card-title 
      %i.fa.fa-vcard-o
      Caddies
      - unless params[:balances].blank?
        with a balance
        .pull-right
          = number_to_currency(current_user.company.caddies_total_balance)
    - unless @caddies.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              -# %th First Name
              %th= caddies_sort_link 'customer.NameF', "First Name"
              -# %th Last Name
              %th= caddies_sort_link 'customer.NameL', "Last Name"
              %th Course
              %th Rating
              %th Ranking
              %th Balance
              %th Checked In
              %th Active
              %th
              %th
          %tbody
            - @caddies.each do |caddy|
              %tr{class: "#{caddy.inactive? ? 'table-danger' : ''}"}
                %td= caddy.first_name
                %td= caddy.last_name
                %td= link_to truncate(caddy.course.name, length: 7), caddy.course
                %td
                  %div.rateit{"data-rateit-resetable" => "false", "data-rateit-value" => caddy.average_rating, "data-rateit-readonly" => "true" }
                %td
                  - unless caddy.acronym.blank?
                    = link_to caddy.acronym, caddy.caddy_rank_desc
                  - else
                    None
                %td= number_to_currency(caddy.balance)
                %td= "#{caddy.checkin_today? ? caddy.CheckedIn.in_time_zone(current_user.time_zone).strftime('%l:%M %p') : 'Not today'}"
                %td= "#{caddy.active? ? 'Yes' : 'No'}"
                %td
                  %a{href: caddy_path(caddy), class: 'btn btn-secondary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> More..." }}
                    %i.fa.fa-vcard-o
                    More...
                  -#
                    %a{href: edit_caddy_path(caddy), class: 'btn btn-primary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Edit" }}
                      %i.fa.fa-edit
                      Edit
                %td
                  - unless caddy.inactive?
                    = simple_form_for(caddy) do |f|
                      - if caddy.checkin_today? 
                        = f.input_field :CheckedIn, as: :hidden, value: nil
                        = button_tag(type: 'submit', class: "btn btn-warning", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Check Out" }) do
                          Check Out
                          %i.fa.fa-sign-out
                      - else
                        = f.input_field :CheckedIn, as: :hidden, value: DateTime.now
                        = button_tag(type: 'submit', class: "btn btn-secondary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Check In" }) do
                          %i.fa.fa-sign-in
                          Check In
    - else
      %p.lead No caddies found

    = paginate @caddies
      


