.container-fluid
  %br
  -#
    .alert.alert-danger{:role => "alert"}
      %i.fa.fa-warning
      Texting is currently unavailable

  %p
    - if params[:balances].blank?
      = form_tag caddies_path, id: 'caddies_form', method: 'get', class: 'form-inline' do |f|
        -#
          - unless current_company.courses.count <= 1
            = select_tag :course_id, options_from_collection_for_select(current_company.courses, "id", "name", @course.id), class: "form-control"
        - if params[:balances].blank?
          .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
            %label.btn.btn-secondary{class: "#{@caddy_status == 'active' ? 'active' : ''}"}
              = radio_button_tag :caddy_status, 'active'#, checked: @caddy_status == 'active' ? true : false
              Active
            %label.btn.btn-secondary{class: "#{@caddy_status == 'inactive' ? 'active' : ''}"}
              = radio_button_tag :caddy_status, 'inactive'#, checked: @caddy_status == 'inactive' ? true : false
              Inactive
        = select_tag :caddy_rank_desc_id, options_from_collection_for_select(current_user.company.caddy_rank_descs, "ID", "RankingAcronym", params[:caddy_rank_desc_id]), prompt: "Choose Rank", class: "form-control"
        = search_field_tag :q, params[:q], :placeholder => "Search caddies", class: "form-control input-lg", autofocus: true
        %button.btn.btn-primary{id: 'caddy_search_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
          %i.fa.fa-search
        %small.text-muted Search by first name, last name, or phone.
    .pull-right
      -#
        %a{href: '#', class: 'btn btn-warning', "data-toggle" => "modal", "data-target" => "#add_caddy"}
          %i.fa.fa-plus-circle
          Caddy
      %a{:href => new_customer_path(type: 'caddy'), class: 'btn btn-warning'}
        %i.fa.fa-plus-circle
        Caddy
      -#
        .btn-group
          %button#dropdownMenuButton.btn.btn-warning.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            %i.fa.fa-plus-circle
            Caddy
          .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
            - current_company.courses.each do |course|
              %a.dropdown-item{:href => new_customer_path(type: 'caddy', course_id: course.id)}= course.name
      - unless @all_caddies.blank?
        %a{href: '#', class: 'btn btn-info', "data-toggle" => "modal", "data-target" => "#send_sms_notification"}
          %i.fa.fa-commenting
          Message
      -#
        %a{href: new_customer_path(type: 'caddy', course_id: @course.id), class: 'btn btn-warning'}
          %i.fa.fa-plus-circle
          Caddy
        
  #send_sms_notification.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          .modal-title
            .lead 
              %i.fa.fa-commenting
              Text Message
        .modal-body
          = form_tag send_group_text_message_caddies_path, id: 'send_caddies_sms_form', method: 'get' do |f|
            =# hidden_field_tag :course_id, params[:course_id]
            =# hidden_field_tag :caddy_rank_desc_id, params[:caddy_rank_desc_id]
            =# hidden_field_tag :q, params[:q]
            =# hidden_field_tag :balances, params[:balances]
            .row
              .col-xs-12.col-sm-7{style: 'height: 340px; overflow-y: scroll;'}
                -# %p= link_to 'Select all', nil, id: 'select_all', remote: true, rel: "caddies_select_group"
                %p.lead
                  %i.fa.fa-square-o.fa-lg{id: 'select_all', rel: "caddies_select_group"}
                  Caddies
                %fieldset#caddies_select_group
                  - @all_caddies.each_slice(2) do |caddies|
                    .row
                      - caddies.each do |caddy|
                        .col-xs-6
                          = check_box_tag "caddy_ids[]", caddy.id, false, {id: "caddy_#{caddy.id}", class: "form_control"}
                          = caddy.full_name_with_rank
              .col-xs-12.col-sm-5
                = text_area_tag :message_body, @message_body, :placeholder => "Message", class: "form-control input-lg", rows: 8, style: 'width:100%', autofocus: true
            .row
              .col-xs-12.col-sm-6
              .col-xs-12.col-sm-6
                .pull-right
                  %br
                  %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
                  %button.btn.btn-primary{id: 'send_sms_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Send"}} 
                    Send
  %p.lead.text-muted= "#{pluralize(@all_caddies.count, 'caddy')} found"
  .card.card-block
    %h4.card-title 
      %i.fa.fa-vcard-o
      Caddies
      - unless params[:balances].blank?
        with a balance
      -#
        - unless params[:balances].blank?
          with a balance
          .pull-right
            = number_to_currency(current_user.company.caddies_total_balance)
    - unless @caddies.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th= caddies_sort_link 'customer.NameF', "First Name"
              %th= caddies_sort_link 'customer.NameL', "Last Name"
              -# %th Course
              -# %th Rating
              %th Ranking
              %th Balance
              -# %th Checked In
              -# %th Active
              %th
          %tbody
            - @caddies.each do |caddy|
              %tr{class: "#{caddy.inactive? ? 'table-danger' : ''}"}
                %td= caddy.first_name
                %td= caddy.last_name
                -# %td= caddy.course.name
                -#z
                  %td
                    %div.rateit{"data-rateit-resetable" => "false", "data-rateit-value" => caddy.average_rating, "data-rateit-readonly" => "true" }
                %td
                  - unless caddy.acronym.blank?
                    = link_to caddy.acronym, caddy.caddy_rank_desc
                  - else
                    None
                %td= "#{caddy.available_balance < 0 ? number_to_currency(0) : number_to_currency(caddy.available_balance)}"
                -#
                  %td= "#{caddy.checkin_today? ? caddy.CheckedIn.in_time_zone(caddy.course.time_zone).strftime('%l:%M %p') : 'Not today'}"
                -#
                  %td= "#{caddy.active? ? 'Yes' : 'No'}"
                %td
                  %a{href: caddy_path(caddy), class: 'btn btn-secondary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> More..." }}
                    %i.fa.fa-vcard-o
                    More...
                  - if current_user.is_admin?
                    %a{href: edit_caddy_path(caddy), class: 'btn btn-primary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Edit" }}
                      %i.fa.fa-edit
                      Edit
                -#
                  %td
                    - unless caddy.inactive?
                      = simple_form_for(caddy) do |f|
                        - if caddy.checkin_today? 
                          = f.input_field :CheckedIn, as: :hidden, value: nil
                          = button_tag(type: 'submit', class: "btn btn-warning", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Check Out" }) do
                            Check Out
                            %i.fa.fa-sign-out
                        - else
                          = f.input_field :CheckedIn, as: :hidden, value: DateTime.now
                          = button_tag(type: 'submit', class: "btn btn-secondary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Check In" }) do
                            %i.fa.fa-sign-in
                            Check In
    - else
      %p.lead No caddies found

    = paginate @caddies
      


