.container
  %br
  .card.card-block
    %p.lead 
      %div.rateit{"data-rateit-resetable" => "false", "data-rateit-value" => @caddy.average_rating, "data-rateit-readonly" => "true" }
      %small
        = link_to "#{@caddy.caddy_ratings.size} ratings", caddy_ratings_path(caddy_id: @caddy.id)
        %br
        .text-muted= "#{number_with_precision(@caddy.average_rating, precision: 1)} out of 5 stars"
            
    %p.lead
      First name:
      = @caddy.first_name
    %p.lead
      Last name:
      = @caddy.last_name
    %p.lead
      Club:
      = link_to @caddy.club.name, @caddy.club
    %p.lead
      Cell phone:
      = @caddy.cell_phone_number
    %p.lead
      Ranking:
      = link_to @caddy.rank_description, @caddy.caddy_rank_desc
    %p.lead
      Checked In:
      = "#{@caddy.checkin_today? ? @caddy.CheckedIn.in_time_zone(current_user.time_zone).strftime('%l:%M %p') : 'Not today'}" 
    %p.lead
      Active:
      = "#{@caddy.active? ? 'Yes' : 'No'}"
    
    = simple_form_for(@caddy) do |f|
      = f.error_notification
      .form-inputs
        %a{href: caddies_path, class: 'btn btn-secondary'}
          %i.fa.fa-vcard
          Caddies
        = link_to 'Edit', edit_caddy_path(@caddy), class: 'btn btn-primary'
        - if @caddy.checkin_today? 
          = f.input_field :CheckedIn, as: :hidden, value: nil
          = f.button :submit, "Check Out", class: 'btn btn-warning'
        - else
          = f.input_field :CheckedIn, as: :hidden, value: DateTime.now
          = f.button :submit, "Check In", class: 'btn btn-success'
        =# link_to 'Rate caddy', new_caddy_rating_path(caddy_id: @caddy.id), class: 'btn btn-warning'
    

  %br

  .card.card-block
    %h4.card-title
      %a{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#caddy_transfers"}
        Transfers
    #caddy_transfers.collapse
      - unless @transfers.blank?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Tran ID
                %td Date/Time
                %th From
                %th Fee
                %th Tip
                %th Total
                %th
            %tbody
              - @transfers.each do |transfer|
                %tr{class: "#{transfer.reversed? ? 'table-danger' : '' }"}
                  %td
                    - unless transfer.ez_cash_tran_id.blank?
                      = link_to transfer.ez_cash_tran_id, transaction_path(transfer.ez_cash_tran_id)
                    - else
                      None
                  %td= transfer.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                  %td= transfer.customer.full_name unless transfer.customer.blank?
                  %td= number_to_currency(transfer.caddy_fee)
                  %td= number_to_currency(transfer.caddy_tip)
                  %td= number_to_currency(transfer.amount)
                  %td
                    - if transfer.reversed?
                      .text-danger Reversed
                    = link_to "Show", transfer, class: 'btn btn-secondary'
      - else
        %p.lead None