.container
  %br
  %h3.text-xs-center= @caddy.full_name

  %ul.nav.nav-tabs
    %li.nav-item
      %a.nav-link.active{:href => "#info", :data => {:toggle => "tab"}} 
        %i.fa.fa-vcard-o.fa-lg
        = "Info" unless browser.device.mobile?
    %li.nav-item
      %a.nav-link{:href => "#transfers", :data => {:toggle => "tab"}} 
        %i.fa.fa-dollar.fa-lg
        = "Transfers" unless browser.device.mobile?
    %li.nav-item
      %a.nav-link{:href => "#withdrawals", :data => {:toggle => "tab"}} 
        %i.fa.fa-bolt.fa-lg
        = "Withdrawals" unless browser.device.mobile?
    %li.nav-item
      %a.nav-link{:href => "#messages", :data => {:toggle => "tab"}} 
        %i.fa.fa-commenting.fa-lg
        = "Messages" unless browser.device.mobile?
  .tab-content
    .tab-pane.active{:id => "info"}
      %br
      .card
        .card-block
          %p.lead 
            %div.rateit{"data-rateit-resetable" => "false", "data-rateit-value" => @caddy.average_rating, "data-rateit-readonly" => "true" }
            %small
              = link_to "#{@caddy.caddy_ratings.size} ratings", caddy_ratings_path(caddy_id: @caddy.id)
              %br
              .text-muted= "#{number_with_precision(@caddy.average_rating, precision: 1)} out of 5 stars"

          %p.lead
            Course:
            = link_to @caddy.course.name, @caddy.course
          %p.lead
            Cell phone:
            = @caddy.cell_phone_number
          %p.lead
            Ranking:
            = link_to @caddy.rank_description, @caddy.caddy_rank_desc
          %p.lead
            Checked In:
            = "#{@caddy.checkin_today? ? @caddy.CheckedIn.in_time_zone(@caddy.course.time_zone).strftime('%l:%M %p') : 'No'}" 
          %p.lead
            Active:
            = "#{@caddy.active? ? 'Yes' : 'No'}"
          %p.lead
            Balance:
            = number_to_currency(@caddy.balance)
          -#
            %a{href: '#', class: 'btn btn-success', "data-toggle" => "modal", "data-target" => "#pay_caddy_by_member"}
              %i.fa.fa-dollar
              Pay by member
          -#
            %a{href: '#', class: 'btn btn-success', "data-toggle" => "modal", "data-target" => "#pay_caddy_by_company"}
              %i.fa.fa-dollar
              Pay by company
          - if current_caddy.blank? and current_user.is_admin?
            %a{href: edit_caddy_path(@caddy), class: 'btn btn-primary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Edit" }}
              %i.fa.fa-edit
              Edit
          =# render 'pay_caddy_by_member'
          =# render 'pay_caddy_by_company'
          -#
            - if @caddy.checkin_today? 
              = f.input_field :CheckedIn, as: :hidden, value: nil
              = button_tag(type: 'submit', class: "btn btn-warning", "data-turbolinks" => "false", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Check Out" }) do
                %i.fa.fa-sign-out
                Check Out
            - else
              = f.input_field :CheckedIn, as: :hidden, value: DateTime.now
              = button_tag(type: 'submit', class: "btn btn-secondary", "data-turbolinks" => "false", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Check In" }) do
                %i.fa.fa-sign-in
                Check In
          =# link_to 'Rate caddy', new_caddy_rating_path(caddy_id: @caddy.id), class: 'btn btn-warning'

    .tab-pane{:id => "transfers"}
      %br
      #caddy_transfers.collapse.show.in{"aria-expanded" => "true"}
        .pull-right
          %p
            - if current_caddy.blank? and current_user.is_admin?
              %a{href: '#', class: 'btn btn-success', "data-toggle" => "modal", "data-target" => "#pay_caddy_by_member"}
                %i.fa.fa-dollar
                Pay by member
            %a{href: barcode_caddy_path(@caddy), class: 'btn btn-success', target: '_blank'}
              %i.fa.fa-barcode
              Barcode Payment
        = render 'pay_caddy_by_member'
        - unless @transfers.blank?
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Tran ID
                  %th Date/Time
                  %th From
                  %th Fee
                  %th Tip
                  %th Note
                  %th Total
                  %th
              %tbody
                - @transfers.each do |transfer|
                  %tr{class: "#{transfer.reversed? ? 'table-danger' : '' }"}
                    %td
                      - unless transfer.ez_cash_tran_id.blank?
                        = link_to transfer.ez_cash_tran_id, transaction_path(transfer.ez_cash_tran_id)
                      - else
                        None
                    %td= transfer.created_at.in_time_zone(transfer.course.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                    %td= transfer.customer.full_name unless transfer.customer.blank?
                    %td= number_to_currency(transfer.caddy_fee)
                    %td= number_to_currency(transfer.caddy_tip)
                    %td= transfer.note
                    %td= number_to_currency(transfer.amount)
                    %td
                      - if transfer.reversed?
                        .text-danger Reversed
                      = link_to "Show", transfer, class: 'btn btn-secondary'
        - else
          %p.lead None

    .tab-pane{:id => "withdrawals"}
      %br
      #caddy_text_messages.collapse.show.in{"aria-expanded" => "true"}
        .pull-right
        - unless @withdrawal_transactions.blank?
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th ID
                  %th Date/Time
                  %th Code
                  %th Status
                  %th Requested
                  %th Authorized
                  %th Description
                  %th
              %tbody
                - @withdrawal_transactions.each do |withdrawal_transaction|
                  %tr
                    %td= withdrawal_transaction.id
                    %td= withdrawal_transaction.date_time.strftime("%-m/%-d/%y %l:%M %p")
                    %td= withdrawal_transaction.error_code_description
                    %td= withdrawal_transaction.status_description
                    %td= number_to_currency(withdrawal_transaction.amt_req)
                    %td= number_to_currency(withdrawal_transaction.amt_auth)
                    %td= withdrawal_transaction.Description
                    %td= link_to "Show", withdrawal_transaction, class: 'btn btn-secondary'
        - else
          %p.lead None

    .tab-pane{:id => "messages"}
      %br
      #caddy_text_messages.collapse.show.in{"aria-expanded" => "true"}
        - if current_caddy.blank? and current_user.is_admin?
          .pull-right
            %p
              %a{href: '#', class: 'btn btn-primary', "data-toggle" => "modal", "data-target" => "#send_sms_notification"}
                %i.fa.fa-commenting
                Text Message
        - unless @text_messages.blank?
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Sent
                  %th Message Body
                  %th
              %tbody
                - @text_messages.each do |text_message|
                  %tr
                    %td= text_message.created_at.strftime("%-m/%-d/%y %l:%M %p")
                    %td= text_message.body
                    %td= link_to "Show", text_message, class: 'btn btn-secondary'
        - else
          %p.lead None
      - if current_caddy.blank? and current_user.is_admin?
        #send_sms_notification.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog.modal-sm{:role => "document"}
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
                .modal-title
                  .lead 
                    %i.fa.fa-commenting
                    Text Message
              .modal-body
                = form_tag send_group_text_message_caddies_path, id: 'send_caddies_sms_form', method: 'get' do |f|
                  = hidden_field_tag "caddy_ids[]", [@caddy.id]
                  .row
                    .col-xs-12
                      = text_area_tag :message_body, @message_body, :placeholder => "Message", class: "form-control input-lg", rows: 8, style: 'width:100%', autofocus: true
                  .row
                    .col-xs-12
                      .pull-right
                        %br
                        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
                        %button.btn.btn-primary{id: 'send_sms_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Send"}} 
                          Send