.container
  %br
  .card
    %h3.card-header
      %i.fa.fa-vcard-o
      = @caddy.full_name
      .pull-right
        %a{href: edit_caddy_path(@caddy), class: 'btn btn-primary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Edit" }}
          %i.fa.fa-edit
          Edit
    .card-block
      %p.lead 
        %div.rateit{"data-rateit-resetable" => "false", "data-rateit-value" => @caddy.average_rating, "data-rateit-readonly" => "true" }
        %small
          = link_to "#{@caddy.caddy_ratings.size} ratings", caddy_ratings_path(caddy_id: @caddy.id)
          %br
          .text-muted= "#{number_with_precision(@caddy.average_rating, precision: 1)} out of 5 stars"

      %p.lead
        Course:
        = link_to @caddy.course.name, @caddy.course
      %p.lead
        Cell phone:
        = @caddy.cell_phone_number
      %p.lead
        Ranking:
        = link_to @caddy.rank_description, @caddy.caddy_rank_desc
      %p.lead
        Checked In:
        = "#{@caddy.checkin_today? ? @caddy.CheckedIn.in_time_zone(current_user.time_zone).strftime('%l:%M %p') : 'No'}" 
      %p.lead
        Active:
        = "#{@caddy.active? ? 'Yes' : 'No'}"

      %a{href: '#', class: 'btn btn-success', "data-toggle" => "modal", "data-target" => "#pay_caddy_by_member"}
        %i.fa.fa-dollar
        Pay by member
      %a{href: '#', class: 'btn btn-success', "data-toggle" => "modal", "data-target" => "#pay_caddy_by_company"}
        %i.fa.fa-dollar
        Pay by company
      = render 'pay_caddy_by_member'
      = render 'pay_caddy_by_company'
      -#
        - if @caddy.checkin_today? 
          = f.input_field :CheckedIn, as: :hidden, value: nil
          = button_tag(type: 'submit', class: "btn btn-warning", "data-turbolinks" => "false", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Check Out" }) do
            %i.fa.fa-sign-out
            Check Out
        - else
          = f.input_field :CheckedIn, as: :hidden, value: DateTime.now
          = button_tag(type: 'submit', class: "btn btn-secondary", "data-turbolinks" => "false", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Check In" }) do
            %i.fa.fa-sign-in
            Check In
      =# link_to 'Rate caddy', new_caddy_rating_path(caddy_id: @caddy.id), class: 'btn btn-warning'
    

  %br

  .card.card-block
    %h4.card-title
      %a{"aria-controls" => "collapseExample", "data-toggle" => "collapse", :href => "#caddy_transfers"}
        %i.fa.fa-dollar
        Transfers
    #caddy_transfers.collapse.show.in{"aria-expanded" => "true"}
      - unless @transfers.blank?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Tran ID
                %th Date/Time
                %th From
                %th Fee
                %th Tip
                %th Note
                %th Total
                %th
            %tbody
              - @transfers.each do |transfer|
                %tr{class: "#{transfer.reversed? ? 'table-danger' : '' }"}
                  %td
                    - unless transfer.ez_cash_tran_id.blank?
                      = link_to transfer.ez_cash_tran_id, transaction_path(transfer.ez_cash_tran_id)
                    - else
                      None
                  %td= transfer.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                  %td= transfer.customer.full_name unless transfer.customer.blank?
                  %td= number_to_currency(transfer.caddy_fee)
                  %td= number_to_currency(transfer.caddy_tip)
                  %td= transfer.note
                  %td= number_to_currency(transfer.amount)
                  %td
                    - if transfer.reversed?
                      .text-danger Reversed
                    = link_to "Show", transfer, class: 'btn btn-secondary'
      - else
        %p.lead None

  %br
  .card.card-block
    %h4.card-title
      %a{"aria-controls" => "collapseExample", "data-toggle" => "collapse", :href => "#caddy_text_messages"}
        %i.fa.fa-commenting
        Text Messages
    #caddy_text_messages.collapse.show.in{"aria-expanded" => "true"}
      - unless @text_messages.blank?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Sent
                %th Message Body
                %th
            %tbody
              - @text_messages.each do |text_message|
                %tr
                  %td= text_message.created_at.strftime("%-m/%-d/%y %l:%M %p")
                  %td= text_message.body
                  %td= link_to "Show", text_message, class: 'btn btn-secondary'
      - else
        %p.lead None