.container
  %p
    %b First name:
    = @caddy.first_name
  %p
    %b Last name:
    = @caddy.last_name
  %p
    %b Ranking:
    = @caddy.RankingAcronym


  = link_to 'Edit', edit_caddy_path(@caddy)
  \|
  = link_to 'Back', caddies_path
