.container
  %br
  .card.card-block
    %p.lead
      Club:
      = link_to @caddy.club.name, @caddy.club
    %p.lead
      First name:
      = @caddy.first_name
    %p.lead
      Last name:
      = @caddy.last_name
    %p.lead
      Ranking:
      = @caddy.RankingAcronym

    = link_to 'Caddies', caddies_path, class: 'btn btn-secondary'
    = link_to 'Edit', edit_caddy_path(@caddy.id, club_id: @caddy.ClubCompanyNbr), class: 'btn btn-primary'
