.container
  %br
  .card.card-block
    %p.lead
      Club:
      = link_to @caddy.club.name, @caddy.club
    %p.lead
      First name:
      = @caddy.first_name
    %p.lead
      Last name:
      = @caddy.last_name
    %p.lead
      Ranking:
      = link_to @caddy.rank_description, @caddy.caddy_rank_desc
    %p.lead
      Checked In Today:
      = @caddy.CheckedIn.in_time_zone(current_user.time_zone).strftime("%l:%M %p") if @caddy.checkin_today? 
    = simple_form_for(@caddy) do |f|
      = f.error_notification
      .form-inputs
        = f.input :CheckedIn, as: :hidden, input_html: {value: DateTime.now}
        = link_to 'Edit', edit_caddy_path(@caddy), class: 'btn btn-primary'
        = f.button :submit, "Check In", class: 'btn btn-success'

  %br

  .card.card-block
    %h4.card-title Transfers
    - unless @transfers.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Tran ID
              %td Date/Time
              %th From
              %th Fee
              %th Tip
              %th Total
              %th
          %tbody
            - @transfers.each do |transfer|
              %tr{class: "#{transfer.reversed? ? 'table-danger' : '' }"}
                %td= "#{transfer.ez_cash_tran_id.blank? ? 'None' : transfer.ez_cash_tran_id}"
                %td= transfer.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                %td= transfer.customer.full_name unless transfer.customer.blank?
                %td= number_to_currency(transfer.caddy_fee)
                %td= number_to_currency(transfer.caddy_tip)
                %td= number_to_currency(transfer.amount)
                %td
                  - if transfer.reversed?
                    .text-danger Reversed
                  = link_to "Show", transfer, class: 'btn btn-secondary'
    - else
      %p.lead None