.container
  %p.lead
    First name:
    = @caddy.first_name
  %p.lead
    Last name:
    = @caddy.last_name
  %p.lead
    Ranking:
    = @caddy.RankingAcronym


  = link_to 'Edit', edit_caddy_path(@caddy.id, club_id: @caddy.ClubCompanyNbr)
  \|
  = link_to 'Back', caddies_path
