= simple_form_for(@caddy_rank_desc) do |f|
  = f.error_notification

  .form-inputs
    =# f.collection_select :ClubCompanyID, current_user.courses.order(:CourseName), :ClubCourseID, :CourseName, {selected: params[:course_id]}
    = f.input :ClubCompanyID, :as => :hidden, :input_html => { :value => "#{@caddy_rank_desc.new_record? ? @course.id : @caddy_rank_desc.course.id}" }
    = f.input :RankingAcronym, as: :string
    = f.input :RankingDescription, as: :text

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = f.button :submit, class: 'btn btn-primary'
