= simple_form_for(@caddy_rank_desc) do |f|
  = f.error_notification

  .form-inputs
    = f.collection_select :course_id, current_company.courses.order(:CourseName), :ClubCourseID, :CourseName, {selected: params[:course_id]}, class: "form-control"
    = f.input :ClubCompanyID, :as => :hidden, :input_html => { :value => current_company.id }
    = f.input :RankingAcronym, as: :string
    = f.input :RankingDescription, as: :text

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = f.button :submit, class: 'btn btn-primary'
