= simple_form_for(@caddy_rank_desc) do |f|
  = f.error_notification

  .form-inputs
    %p= f.collection_select :ClubCompanyID, current_user.clubs.order(:CourseName), :ClubCourseID, :CourseName, {selected: params[:club_id]}
    = f.input :RankingAcronym, as: :string
    = f.input :RankingDescription, as: :text

  .form-actions
    = f.button :submit
