.container
  %h1 Listing CaddyRankDescs

  - @caddy_rank_descs.group_by{|crd| crd.club}.each do |club, caddy_rank_descs|
    %p.lead= club.name
    %p.lead= link_to "Create new caddy rank desc for #{club.name}", new_caddy_rank_desc_path(club_id: club.id)
    %table.table.table-striped
      %thead
        %tr
          %th Ranking
          %th Description
          %th
      %tbody
        - caddy_rank_descs.each do |caddy_rank_desc|
          %tr
            %td= caddy_rank_desc.RankingAcronym
            %td= caddy_rank_desc.RankingDescription
            %td
              = link_to 'Show', caddy_rank_desc, class: 'btn btn-sm btn-secondary'
              = link_to 'Edit', edit_caddy_rank_desc_path(caddy_rank_desc), class: 'btn btn-sm btn-primary'