.container
  %br
  %h3 Caddy Rank Descriptions
  %br

  - @caddy_rank_descs.group_by{|crd| crd.club}.each do |club, caddy_rank_descs|
    .card.card-block
      %h4.card-title= link_to club.name, club
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Ranking
              %th Description
              %th
          %tbody
            - caddy_rank_descs.each do |caddy_rank_desc|
              %tr
                %td= caddy_rank_desc.RankingAcronym
                %td= caddy_rank_desc.RankingDescription
                %td
                  = link_to 'Show', caddy_rank_desc, class: 'btn btn-secondary'
                  = link_to 'Edit', edit_caddy_rank_desc_path(caddy_rank_desc), class: 'btn btn-primary'
      .card-link= link_to "New #{club.name} caddy rank desc", new_caddy_rank_desc_path(club_id: club.id), class: 'btn btn-primary'