.container
  %br
  .card.card-block
    %p.lead
      Ranking:
      = @caddy_rank_desc.RankingAcronym
    %p.lead
      Club:
      = link_to @caddy_rank_desc.club.name, @caddy_rank_desc.club
    %p.lead
      Description:
      = @caddy_rank_desc.RankingDescription
    %p.lead
      Caddies:
      - @caddy_rank_desc.caddies.each do |caddy|
        %br
        = link_to caddy.full_name, caddy_path(caddy, club_id: caddy.club.id)
        
    = link_to 'Caddy Rank Descriptions', caddy_rank_descs_path, class: 'btn btn-secondary'
    = link_to 'Edit', edit_caddy_rank_desc_path(@caddy_rank_desc), class: 'btn btn-primary'
    
