.container
  %div{:class => "col-sm-5"}
    %br
    %h3 Editing user
    %br
    .card.card-block
      = simple_form_for(@user, url: users_admin_path(@user), html: { method: :put })  do |f|
        = f.error_notification

        .form-inputs
          = f.input :company_id, as: :hidden, :input_html => {:value => current_user.company.id}
          = f.input :email#, disabled: true
          = f.input :active, inline_label: 'Active'
          - if not @user.confirmed?
            %p.text-danger User has not yet confirmed their account
          .row.form-group
            %div{:class => "col-sm-12"}
              .btn-group-horizontal{"data-toggle" => "buttons"}
                %label.btn.btn-secondary{class: "#{@user.is_caddy? ? 'active' : ''}"}
                  = f.radio_button :role, "caddy"
                  Caddy
                %label.btn.btn-secondary{class: "#{@user.is_member? ? 'active' : ''}"}
                  = f.radio_button :role, "member"
                  Member
                %label.btn.btn-secondary{class: "#{@user.is_admin? ? 'active' : ''}"}
                  = f.radio_button :role, "admin"
                  Admin

        .form-actions
          = link_to 'Cancel', :back, class: 'btn btn-secondary'
          = f.button :submit, class: 'btn btn-primary'
