.container
  %br
  %h3 
    Users
    .pull-right
      = link_to 'New user', new_users_admin_path, class: 'btn btn-warning'
  %p
    -#
      = form_tag users_admin_index_path, id: 'users_form', method: 'get', class: 'form-inline' do |f|
        .input-group
          = search_field_tag :q, params[:q], :placeholder => "Search users", class: "form-control input-lg", autofocus: true
          %span.input-group-btn
            %button.btn.btn-primary{id: 'user_search_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
              %i.fa.fa-search
      
  %ul.nav.nav-tabs
    %li.nav-item
      %a.nav-link.active{:href => "#admins", :data => {:toggle => "tab"}} 
        Admin
    %li.nav-item
      %a.nav-link{:href => "#members", :data => {:toggle => "tab"}} 
        Members
    %li.nav-item
      %a.nav-link{:href => "#caddies", :data => {:toggle => "tab"}} 
        Caddies

    .tab-content
      .tab-pane.active{:id => "admins"}
        %br
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Phone
                %th Email
                %th Role
                %th Active
                -#
                  %th Confirmed
                %th
            %tbody
              - @admin_users.each do |user|
                -#
                  %tr{class: "#{!user.confirmed? ? 'table-danger' : !user.active? ? 'table-warning' : ''}"}
                %tr
                  %td= user.phone
                  %td= user.email
                  %td
                    - if user.is_member? and not user.member.blank?
                      = link_to user.role, user.member
                    - elsif user.is_caddy? and not user.caddy.blank?
                      = link_to user.role, user.caddy
                    - else
                      = user.role
                  %td= "#{user.active? ? 'Yes' : 'No'}"
                  -#
                    %td= "#{user.confirmed? ? 'Yes' : 'No'}"
                  %td
                    = link_to 'Edit', edit_users_admin_path(user), class: 'btn btn-primary'
                    = link_to 'Delete', admin_destroy_user_path(user), class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure? This cannot be undone.' }
      .tab-pane{:id => "members"}
        %br
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Phone
                %th Email
                %th Role
                %th Active
                -#
                  %th Confirmed
                %th
            %tbody
              - @member_users.each do |user|
                -#
                  %tr{class: "#{!user.confirmed? ? 'table-danger' : !user.active? ? 'table-warning' : ''}"}
                %tr
                  %td= user.phone
                  %td= user.email
                  %td
                    - if user.is_member? and not user.member.blank?
                      = link_to user.role, user.member
                    - elsif user.is_caddy? and not user.caddy.blank?
                      = link_to user.role, user.caddy
                    - else
                      = user.role
                  %td= "#{user.active? ? 'Yes' : 'No'}"
                  -#
                    %td= "#{user.confirmed? ? 'Yes' : 'No'}"
                  %td
                    = link_to 'Edit', edit_users_admin_path(user), class: 'btn btn-primary'
                    = link_to 'Delete', admin_destroy_user_path(user), class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure? This cannot be undone.' }
      .tab-pane{:id => "caddies"}
        %br
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Phone
                %th Email
                %th Role
                %th Active
                -#
                  %th Confirmed
                %th
            %tbody
              - @caddy_users.each do |user|
                -#
                  %tr{class: "#{!user.confirmed? ? 'table-danger' : !user.active? ? 'table-warning' : ''}"}
                %tr
                  %td= user.phone
                  %td= user.email
                  %td
                    - if user.is_member? and not user.member.blank?
                      = link_to user.role, user.member
                    - elsif user.is_caddy? and not user.caddy.blank?
                      = link_to user.role, user.caddy
                    - else
                      = user.role
                  %td= "#{user.active? ? 'Yes' : 'No'}"
                  -#
                    %td= "#{user.confirmed? ? 'Yes' : 'No'}"
                  %td
                    = link_to 'More', users_admin_path(user), class: 'btn btn-secondary'
                    = link_to 'Edit', edit_users_admin_path(user), class: 'btn btn-primary' 
                    = link_to 'Delete', admin_destroy_user_path(user), class: 'btn btn-danger', :method => :delete, :data => { :confirm => 'Are you sure? This cannot be undone.' }