.container
  %br
  .card.card-block
    %p.lead
      Email:
      = @user.email
    %p.lead
      Admin:
      = "#{@user.admin? ? 'Yes' : 'No'}"
    %p.lead
      Active:
      = "#{@user.active? ? 'Yes' : 'No'}"
    %a{href: users_admin_index_path, class: 'btn btn-secondary'}
      Users
    = link_to 'Edit', edit_users_admin_path(@user), class: 'btn btn-primary'