.container
  %br
  .card.card-block
    %p.lead
      Phone:
      = @user.phone
    %p.lead
      Email:
      = @user.email
    %p.lead
      Role:
      = @user.role
    %p.lead
      Active:
      = "#{@user.active? ? 'Yes' : 'No'}"
    %p.lead
      Phone Verified:
      = "#{@user.verification_code.blank? ? 'Yes' : 'No'}"
    %a{href: users_admin_index_path, class: 'btn btn-secondary'}
      Users
    = link_to 'Edit', edit_users_admin_path(@user), class: 'btn btn-primary'
    .pull-right
      %a{href: reset_password_users_admin_path(@user), class: 'btn btn-danger', data: {:confirm => 'Are you sure?'}}
        %i.fa.fa-warning
        Reset Password