.container
  %div{:class => "col-sm-6"}
    %br
    %h2 Forgot your password?
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :email, required: true, autofocus: true
      .form-actions
        = f.button :submit, "Email me reset password instructions", class: 'btn btn-primary'

    = simple_form_for(User.new, url: password_users_admin_index_path, html: { method: :post }) do |f|
      = f.error_notification
      .form-inputs
        = f.input :phone, required: true, autofocus: true
      .form-actions
        = f.button :submit, "Text me reset password instructions", class: 'btn btn-primary'
    = render "devise/shared/links"

:javascript
  // Force phone format
  $("#user_phone").mask("9999999999");