%nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  %button.navbar-toggler.hidden-sm-up{"data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
    \☰
  #exCollapsingNavbar2.collapse.navbar-toggleable-xs
    %a.navbar-brand{:href => root_path} 
      %i.fa.fa-flag
      CaddyVend
    %ul.nav.navbar-nav  
      %li.nav-item
        %a.nav-link{:href => events_path, :class => (current_page? events_path) ? "active" : ""} 
          %i.fa.fa-calendar
          Calendar
      %li.nav-item
        %a.nav-link{:href => customers_path, :class => (params[:controller] == 'customers') ? "active" : ""} 
          %i.fa.fa-user-circle-o
          Members
      %li.nav-item
        %a.nav-link{:href => caddies_path, :class => (params[:controller] == 'caddies') ? "active" : ""} 
          %i.fa.fa-vcard-o
          Caddies
      %li.nav-item
        %a.nav-link{:href => clubs_path, :class => (params[:controller] == 'clubs') ? "active" : ""} 
          %i.fa.fa-tree
          Clubs
      %li.nav-item
        %a.nav-link{:href => caddy_rank_descs_path, :class => (params[:controller] == 'caddy_rank_descs') ? "active" : ""} 
          %i.fa.fa-certificate
          Ranks
      %li.nav-item
        %a.nav-link{:href => caddy_pay_rates_path, :class => (params[:controller] == 'caddy_pay_rates') ? "active" : ""} 
          %i.fa.fa-credit-card-alt
          Rates
      -#
        %li.nav-item
          %a.nav-link{:href => reports_path, :class => (params[:controller] == 'reports') ? "active" : ""} 
            %i.fa.fa-file-text-o
            Reporting
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#", :class => (params[:controller] == 'reports') ? "active" : ""}
          %i.fa.fa-file-text-o
          Reporting
          %b.caret
        %div.dropdown-menu
          %a.dropdown-item{:href => reports_path, :class => (params[:controller] == 'reports' and params[:action] == 'index') ? "active" : ""} 
            %i.fa.fa-file-text-o
            CSV Report
          %a.dropdown-item{:href => transactions_path(withdrawals: true), :class => (params[:controller] == 'transactions') ? "active" : ""} 
            %i.fa.fa-bolt
            EZCash Withdrawals
          %a.dropdown-item{:href => customers_path(balances: true), :class => (params[:controller] == 'customers') ? "active" : ""} 
            %i.fa.fa-user-circle-o
            Member Balances
      .float-xs-right
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            %i.fa.fa-gear
            More
            %b.caret
          %div.dropdown-menu
            %a{:href => company_path(current_user.company.id), :class => (params[:controller] == 'companies') ? "active dropdown-item" : "dropdown-item"} 
              %i.fa.fa-building
              = current_user.company.CompanyName
            %a{:href => edit_user_registration_path(current_user), :class => "dropdown-item"} 
              %i.fa.fa-user
              = current_user.email
            %a{:href => users_admin_index_path, :class => (params[:controller] == 'users') ? "active dropdown-item" : "dropdown-item"} 
              %i.fa.fa-users
              Users
            %a{:href => transfers_path, :class => (params[:controller] == 'transfers') ? "active dropdown-item" : "dropdown-item"} 
              %i.fa.fa-dollar
              Transfers
            %a{:href => transactions_path, :class => (params[:controller] == 'transactions') ? "active dropdown-item" : "dropdown-item"} 
              %i.fa.fa-bolt
              EZCash
        -#
          %li.nav-item= link_to current_user.company.CompanyName, current_user.company, class: "nav-link #{params[:controller] == 'companies' ? 'active' : ''} "
          %li.nav-item= link_to current_user.email, edit_user_registration_path(current_user), class: "nav-link #{current_page?(edit_user_registration_path(current_user)) ? 'active' : ''}"
        %li.nav-item= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to sign out?' }, class: 'btn btn-outline-danger nav-link'