- unless current_user.blank?
  - if current_user.is_admin?
    = render 'shared/admin_user_navbar' 
  - elsif current_user.is_caddy?
    = render 'shared/caddy_user_navbar' 
  - elsif current_user.is_member?
    = render 'shared/member_user_navbar' 
  - else
    = render 'shared/non_admin_user_navbar' 
- else
  = render 'shared/no_user_navbar' 