.container
  %br
  %table.table.table-striped
    %thead
      %tr
        %th Member
        %th Caddy
        %th Type
        %th Fee
        %th Tip
        %th
    %tbody
      - @event.players.each do |player|
        %tr
          %td= player.member.full_name
          %td= player.caddy.full_name
          %td= player.caddy_type
          %td= number_to_currency(player.caddy_pay_rate)
          %td= number_to_currency(player.tip)
          %td= link_to 'Pay', '#', class: 'btn btn-success'
    %tfoot
      %tr
        %th
        %th
        %th
        %th
        %th
  -#
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = link_to 'Pay', '#', class: 'btn btn-primary'
