= simple_form_for(@customer) do |f|
  = f.error_notification

  .form-inputs
    = f.input :NameF, label: 'First Name'
    = f.input :NameL, label: 'Last Name'

  .form-actions
    = link_to 'Cancel', :back, class: 'btn btn-secondary'
    = f.button :submit, 'Save member', class: 'btn btn-primary'
