.container
  %br
  %p
    = form_tag customers_path, id: 'customers_form', method: 'get', class: 'form-inline' do |f|
      .input-group
        = search_field_tag :q, params[:q], :placeholder => "Search members", class: "form-control input-lg"
        %span.input-group-btn
          %button.btn.btn-secondary{id: 'member_search_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
            %i.fa.fa-search

  .card.card-block
    %h4.card-title Members
    - unless @members.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Name
              %th Member #
              %th
          %tbody
            - @members.each do |member|
              %tr
                %td= member.full_name
                %td= "#{member.member_number.blank? ? 'None' : member.member_number}"
                %td
                  = link_to "Show", member, class: 'btn btn-secondary'
                  = link_to 'Edit', edit_customer_path(member), class: 'btn btn-primary'
    - else
      %p.lead No members found

    = paginate @members
    = link_to 'New member', new_customer_path, class: 'btn btn-primary'
  -#
    .card.card-block
      %h4.card-title Members
      - @members.each do |member|
        %div.col-xs-6.col-sm-4.col-md-3
          %p= link_to member.full_name, member

      = paginate @members
      %p= link_to 'New member', new_customer_path, class: 'btn btn-primary'
  -#
    %h1 Listing members

    %table
      %thead
        %tr
          %th First name
          %th Last name
          %th
          %th
          %th

      %tbody
        - @customers.each do |customer|
          %tr
            %td= customer.first_name
            %td= customer.last_name
            %td= link_to 'Show', customer
            %td= link_to 'Edit', edit_customer_path(customer)
            %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New member', new_customer_path
