.container
  %br
  .card.card-block
    %h4.card-title Members
    - @members.each do |member|
      %div.col-xs-6.col-sm-4.col-md-3
        %p= link_to member.full_name, member
    
    = paginate @members
    %p= link_to 'New member', new_customer_path, class: 'btn btn-primary'
  -#
    %h1 Listing members

    %table
      %thead
        %tr
          %th First name
          %th Last name
          %th
          %th
          %th

      %tbody
        - @customers.each do |customer|
          %tr
            %td= customer.first_name
            %td= customer.last_name
            %td= link_to 'Show', customer
            %td= link_to 'Edit', edit_customer_path(customer)
            %td= link_to 'Destroy', customer, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New member', new_customer_path
