.container-fluid
  %br
  - if params[:balances].blank?
    %p
      = form_tag customers_path, id: 'customers_form', method: 'get', class: 'form-inline' do |f|
        .input-group
          = search_field_tag :q, params[:q], :placeholder => "Search members", class: "form-control input-lg", autofocus: true
          %span.input-group-btn
            %button.btn.btn-primary{id: 'member_search_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}} 
              %i.fa.fa-search
        %small.text-muted Search by first name, last name, or member number.
        .pull-right
          = link_to 'New member', new_customer_path, class: 'btn btn-warning'
  %p.lead.text-muted= "#{pluralize(@all_members.count, 'member')} found"
  .card.card-block
    %h4.card-title 
      %i.fa.fa-user-circle-o
      Members
      - unless params[:balances].blank?
        with a balance
      -#
        - unless params[:balances].blank? or @members.blank?
          .pull-right
            %p
              %a{href: clear_all_account_balances_customers_path(balances: true), class: 'btn btn-danger', :data => { :confirm => "Are you sure you want to clear all of these member's balances? This action cannot be undone." }}
                %i.fa.fa-exclamation-triangle
                Clear all balances
    - unless @members.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Name
              -# %th Phone
              %th Member #
              %th Active
              %th Balance
              %th
          %tbody
            - @members.each do |member|
              %tr{class: "#{(not member.primary?) ? 'table-active' : ''}"}
                %td= member.full_name
                -# %td= member.PhoneMobile
                %td= "#{member.member_number.blank? ? 'None' : member.member_number}"
                %td= "#{member.active? ? 'Yes' : 'No'}"
                %td 
                  - if member.primary?
                    = number_to_currency(member.account.balance)
                  - else
                    N/A
                %td
                  %a{href: customer_path(member), class: 'btn btn-secondary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> More..." }}
                    %i.fa.fa-user-circle-o
                    More...
                  %a{href: edit_customer_path(member), class: 'btn btn-primary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Edit" }}
                    %i.fa.fa-edit
                    Edit
                  -#
                    - if member.primary? and member.balance < 0
                      %a{href: clear_account_balance_customer_path(member), class: 'btn btn-outline-danger', :data => { :confirm => "Are you sure you want to clear this member's balance? This action cannot be undone." }}
                        %i.fa.fa-exclamation-triangle
                        Clear Balance
    - else
      %p.lead No members found

    = paginate @members
  = link_to 'New member', new_customer_path, class: 'btn btn-primary' if params[:balances].blank?