.container
  %br
  .card
    %h3.card-header
      %i.fa.fa-user-circle-o
      = @customer.full_name
      .pull-right
        %a{href: edit_customer_path(@customer), class: 'btn btn-primary', "data-turbolinks" => "false",  data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Edit" }}
          %i.fa.fa-edit
          Edit
    .card-block
      %p.lead
        Phone:
        = @customer.PhoneMobile
      %p.lead
        Member Number:
        = "#{@customer.member_number.blank? ? 'None' : @customer.member_number}"
      - if @customer.primary?
        %p.lead
          Add-ons:
          - unless @add_on_members.blank?
            - @add_on_members.each do |add_on_member|
              = link_to add_on_member.full_name, add_on_member
          - else
            None
          %br
          %a{class: 'btn btn-secondary btn-sm', "data-toggle" => "modal", "data-target" => "#add_family_member"}
            %i.fa.fa-plus
            Add family
          -#
            %a{class: 'btn btn-secondary btn-sm', "data-toggle" => "modal", "data-target" => "#add_guest_member"}
              %i.fa.fa-plus
              Add guest
      - else
        %p.lead
          Primary Member:
          = link_to @customer.parent_customer.full_name, @customer.parent_customer
      %p.lead
        Active:
        = "#{@customer.active? ? 'Yes' : 'No'}"
      - if @customer.primary?
        %p.lead
          Balance:
          = number_to_currency(@customer.account.balance)
          -#
            - if @customer.balance < 0
              %a{href: clear_account_balance_customer_path(@customer), class: 'btn btn-sm btn-danger', :data => { :confirm => "Are you sure you want to clear this member's balance? This action cannot be undone." }}
                %i.fa.fa-exclamation-triangle
                Clear Balance
    
  %br

  .card.card-block
    %h4.card-title 
      %a{"aria-controls" => "collapseExample", "data-toggle" => "collapse", :href => "#member_transfers"}
        %i.fa.fa-dollar
        Transfers
    #member_transfers.collapse.show.in{"aria-expanded" => "true"}
      - unless @transfers.blank?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Tran ID
                %td Date/Time
                %th To
                %th Fee
                %th Tip
                %th Transaction Fee
                %th Total
                %th
            %tbody
              - @transfers.each do |transfer|
                %tr{class: "#{transfer.reversed? ? 'table-danger' : '' }"}
                  %td
                    - unless transfer.ez_cash_tran_id.blank?
                      = link_to transfer.ez_cash_tran_id, transaction_path(transfer.ez_cash_tran_id)
                    - else
                      None
                  %td= transfer.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                  %td= transfer.to_customer.full_name unless transfer.to_customer.blank?
                  %td= number_to_currency(transfer.caddy_fee)
                  %td= number_to_currency(transfer.caddy_tip)
                  %td= number_to_currency(transfer.fee)
                  %td= number_to_currency(transfer.amount_paid_total)
                  %td
                    - if transfer.reversed?
                      .text-danger Reversed
                    = link_to "Show", transfer, class: 'btn btn-secondary'
      - else
        %p.lead None

  
#add_family_member.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .modal-title
          %h4 Family
      .modal-body
        = simple_form_for(Customer.new) do |f|
          = f.error_notification
          .form-inputs
            = f.input :ParentCustID, :as => :hidden, :input_html => { :value => @customer.id }
            = f.input :CompanyNumber, :as => :hidden, :input_html => { :value => "#{@customer.new_record? ? current_user.company_id : @customer.CompanyNumber}" }
            = f.input :GroupID, :as => :hidden, :input_html => { :value => "#{@customer.new_record? ? 14 : @customer.GroupID}" }
            = f.input :NameF, label: 'First Name'
            = f.input :NameL, label: 'Last Name'
            = f.input :PhoneMobile, label: 'Phone' if current_user.admin?
            - unless current_user.not_admin? and not @customer.active?
              = f.input :Active, as: :boolean, inline_label: 'Active'
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
            = f.button :submit, 'Save', class: 'btn btn-primary'

#add_guest_member.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        .modal-title
          %h4 Guest
      .modal-body
        = simple_form_for(Customer.new) do |f|
          = f.error_notification
          .form-inputs
            = f.input :ParentCustID, :as => :hidden, :input_html => { :value => @customer.id }
            = f.input :CompanyNumber, :as => :hidden, :input_html => { :value => "#{@customer.new_record? ? current_user.company_id : @customer.CompanyNumber}" }
            = f.input :GroupID, :as => :hidden, :input_html => { :value => "#{@customer.new_record? ? 14 : @customer.GroupID}" }
            = f.input :NameF, label: 'First Name'
            = f.input :NameL, label: 'Last Name'
            = f.input :PhoneMobile, label: 'Phone' if current_user.admin?
            = f.input :NameS, as: :hidden, :input_html => { :value => @customer.member_number }
            - unless current_user.not_admin? and not @customer.active?
              = f.input :Active, as: :boolean, inline_label: 'Active'
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
            = f.button :submit, 'Save', class: 'btn btn-primary'
