.container
  %br
  .card.card-block
    %p.lead
      First name:
      = @customer.first_name
    %p.lead
      Last name:
      = @customer.last_name
    %p.lead
      Phone:
      = @customer.PhoneMobile
    %p.lead
      Member Number:
      = "#{@customer.member_number.blank? ? 'None' : @customer.member_number}"
    %p.lead
      Active:
      = "#{@customer.active? ? 'Yes' : 'No'}"
    %a{href: customers_path, class: 'btn btn-secondary'}
      %i.fa.fa-user-circle-o
      Members
    = link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-primary'
    
  %br

  .card.card-block
    %h4.card-title Transfers
    - unless @transfers.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Tran ID
              %td Date/Time
              %th To
              %th Fee
              %th Tip
              %th Total
              %th
          %tbody
            - @transfers.each do |transfer|
              %tr{class: "#{transfer.reversed? ? 'table-danger' : '' }"}
                %td
                  - unless transfer.ez_cash_tran_id.blank?
                    = link_to transfer.ez_cash_tran_id, transaction_path(transfer.ez_cash_tran_id)
                  - else
                    None
                %td= transfer.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                %td= transfer.to_customer.full_name unless transfer.to_customer.blank?
                %td= number_to_currency(transfer.caddy_fee)
                %td= number_to_currency(transfer.caddy_tip)
                %td= number_to_currency(transfer.amount)
                %td
                  - if transfer.reversed?
                    .text-danger Reversed
                  = link_to "Show", transfer, class: 'btn btn-secondary'
    - else
      %p.lead None

  