.container
  %br
  %h3
    = @company.CompanyName
  %p.lead= "Balance: #{number_to_currency(@company.balance)}"

  %br
  
  .card.card-block
    %h4.card-title 
      %a{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#one_side_credit_transactions"}
        One-sided Credit Transactions
    #one_side_credit_transactions.collapse
      - unless @one_sided_credit_transactions.blank?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th DateTime
                %th Amount
                %th
            %tbody
              - @one_sided_credit_transactions.reverse.each do |transaction|
                %tr
                  %td= transaction.date_time.strftime("%-m/%-d/%y %l:%M %p")
                  %td= number_to_currency(transaction.amt_auth)
                  %td
                    = link_to "Show", transaction, class: 'btn btn-secondary'
      - else
        %p.lead None

  .card.card-block
    %h4.card-title Courses
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th
        %tbody
          - @company.courses.each do |course|
            %tr
              %td= course.name
              %td
                = link_to "Show", course, class: 'btn btn-secondary'
                = link_to 'Edit', edit_course_path(course), class: 'btn btn-primary'
  -#
    .card.card-block
      %h4.card-title Members
      - @members.each do |member|
        %div.col-xs-6.col-sm-4.col-md-3
          %p= link_to member.full_name, member
      = paginate @members

  .card.card-block
    %h4.card-title Caddies
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th Course
            %th Ranking
            %th Checked In
            %th
        %tbody
          - @company.caddies.each do |caddy|
            %tr
              %td= caddy.full_name
              %td= link_to caddy.course.name, caddy.course
              %td= link_to caddy.rank_description, caddy.caddy_rank_desc
              %td= caddy.CheckedIn.in_time_zone(current_user.time_zone).strftime("%l:%M %p") if caddy.checkin_today? 
              %td
                = link_to "Show", caddy, class: 'btn btn-secondary'
                = link_to 'Edit', edit_caddy_path(caddy), class: 'btn btn-primary'

  .card.card-block
    %h4.card-title Users
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Email
            %th Admin
            %th Active
            %th
        %tbody
          - @company.users.each do |user|
            %tr
              %td= user.email
              %td= "#{user.admin? ? 'Yes' : 'No'}"
              %td= "#{user.active? ? 'Yes' : 'No'}"
              %td
                = link_to 'Edit', edit_users_admin_path(user), class: 'btn btn-primary'
  
  =# link_to 'Companies', companies_path, class: 'btn btn-secondary'
  %p= link_to 'Edit company', edit_company_path(@company), class: 'btn btn-primary'
  
