.container
  %br
  %h3
    = @company.CompanyName
    .pull-right= link_to 'Edit company', edit_company_path(@company), class: 'btn btn-primary'
  %p.lead= "Transaction Fee: #{number_to_currency(@company.transaction_fee)}"
  %p.lead
    = "Balance: #{number_to_currency(@company.balance)}"
    %br
    = "Account Minimum Balance: #{number_to_currency(@company.account_minimum_balance)}"
  %p.lead
    Include Rounds:
    = "#{@company.include_rounds? ? 'Yes' : 'No'}"
  %p.lead
    Reply-to Email Addresses:
    - unless @company.reply_to_emails.blank?
      %br
      = @company.reply_to_emails
    - else
      None
  %p.lead
    %strong Payment Screen:
    %br
    = "Caddy can edit payment amount: #{@company.payee_can_edit_payment? ? 'Yes' : 'No'}"
    %br
    = "Include tips: #{@company.include_tip? ? 'Yes' : 'No'}"
  -#
    %ul.nav.nav-tabs
      %li.nav-item
        %a.nav-link.active{:href => "#transfers", :data => {:toggle => "tab"}} 
          %i.fa.fa-dollar.fa-lg
          Transfers

    .tab-content
      .tab-pane.active{:id => "transfers"}
        %br
        - unless @transfers.blank?
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Tran ID
                  %th From
                  %th To
                  %th Fee
                  %th Tip
                  %th Note
                  %th Total
                  %th
              %tbody
                - @transfers.each do |transfer|
                  %tr{class: "#{transfer.reversed? ? 'table-danger' : '' }"}
                    %td
                      - unless transfer.ez_cash_tran_id.blank?
                        = link_to transfer.ez_cash_tran_id, transaction_path(transfer.ez_cash_tran_id)
                      - else
                        None
                    %td= transfer.customer.full_name unless transfer.customer.blank?
                    %td= transfer.to_customer.full_name unless transfer.to_customer.blank?
                    %td= number_to_currency(transfer.caddy_fee)
                    %td= number_to_currency(transfer.caddy_tip)
                    %td= transfer.note
                    %td= number_to_currency(transfer.amount)
                    %td
                      - if transfer.reversed?
                        .text-danger Reversed
                      = link_to "Show", transfer, class: 'btn btn-secondary'
        - else
          %p.lead None

        = paginate @transfers