.container
  %p.lead
    Name:
    = @company.CompanyName
  %p.lead
    Clubs:
    %br
    - @company.clubs.each do |club|
      = link_to club.name, club
      %br
  %p.lead
    Members:
    %br
    - @company.members.each do |member|
      = link_to member.full_name, member
      %br
  %p.lead
    Caddies:
    %br
    - @company.caddies.each do |caddy|
      = link_to caddy.full_name, caddy
      %br

  = link_to 'Edit', edit_company_path(@company)
  \|
  = link_to 'Back', companies_path
