%h1 Listing players

%table
  %thead
    %tr
      %th Member
      %th Caddy
      %th Event
      %th Caddy type
      %th Fee
      %th Tip
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= player.member
        %td= player.caddy
        %td= player.event
        %td= player.caddy_type
        %td= player.fee
        %td= player.tip
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
