%p#notice= notice

%p
  %b Member:
  = @player.member.full_name
%p
  %b Caddy:
  = @player.caddy.full_name
%p
  %b Event:
  = @player.event.title
  %br
  = @player.event.start
%p
  %b Round:
  = @player.round_as_string
%p
  %b Caddy type:
  = @player.caddy_type
%p
  %b Fee:
  = number_to_currency(@player.fee)
%p
  %b Tip:
  = number_to_currency(@player.tip)

= link_to 'Edit', edit_player_path(@player)
\|
= link_to 'Back', players_path
