.container
  %br
  %p.lead
    .pull-right
      %a{href: transfers_path(format: "csv"), class: 'btn btn-primary'}
        %i.fa.fa-download
        Today's Report
    -#
      - unless current_course.blank?
        - if current_user.courses.count <= 1
          - unless current_course.blank?
            = current_course.name 
          - else
            = current_user.courses.first.name unless current_user.courses.blank?
        - else
          = form_tag transfers_path, id: 'courses_form', method: 'get', class: 'form-inline' do |f|
            = select_tag :course_id, options_from_collection_for_select(current_user.courses, "id", "name", @course.id), onchange: "$(this).parent('form').submit();", class: "form-control"

  .card.card-block
    %h4.card-title Transfers
    - unless @transfers.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              -# %th Tran ID
              %th= transfers_sort_link 'ez_cash_tran_id', "Tran ID"
              -# %th DateTime
              %th= transfers_sort_link 'created_at', "Date/Time"
              -# %th From
              %th= transfers_sort_link 'from_account_id', "From"
              -# %th To
              %th= transfers_sort_link 'to_account_id', "To"
              -# %th Fee
              %th= transfers_sort_link 'caddy_fee_cents', "Caddy Fee"
              -# %th Tip
              %th= transfers_sort_link 'caddy_tip_cents', "Tip"
              %th= transfers_sort_link 'fee_cents', "Transaction Fee"
              %th Note
              -# %th Total
              %th= transfers_sort_link 'amount_cents', "Total"
              %th
          %tbody
            - @transfers.each do |transfer|
              %tr{class: "#{transfer.reversed? ? 'table-danger' : '' }"}
                %td
                  - unless transfer.ez_cash_tran_id.blank?
                    = link_to transfer.ez_cash_tran_id, transaction_path(transfer.ez_cash_tran_id)
                  - else
                    None
                %td= transfer.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                %td
                  - unless transfer.customer.blank?
                    = transfer.customer.full_name 
                  - else
                    = current_user.company.CompanyName
                %td= transfer.to_customer.full_name unless transfer.to_customer.blank?
                %td= number_to_currency(transfer.caddy_fee)
                %td= number_to_currency(transfer.caddy_tip)
                %td= number_to_currency(transfer.fee)
                %td= transfer.note
                %td= number_to_currency(transfer.amount_paid_total)
                %td
                  - if transfer.reversed?
                    .text-danger Reversed
                  = link_to "Show", transfer, class: 'btn btn-secondary'
    - else
      %p.lead None

  = paginate @transfers