.container
  %br
  - @clubs.each do |club|
    .card.card-block
      %h4.card-title= "#{club.name} Transfers"
      - unless club.transfers.blank?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Tran ID
                %th From
                %th To
                %th Fee
                %th Tip
                %th Total
                %th
            %tbody
              - club.transfers.each do |transfer|
                %tr
                  %td= "#{transfer.ez_cash_tran_id.blank? ? 'None' : transfer.ez_cash_tran_id}"
                  %td= transfer.customer.full_name unless transfer.customer.blank?
                  %td= transfer.to_customer.full_name unless transfer.to_customer.blank?
                  %td= number_to_currency(transfer.caddy_fee)
                  %td= number_to_currency(transfer.caddy_tip)
                  %td= number_to_currency(transfer.amount)
                  %td
                    = link_to "Show", transfer, class: 'btn btn-secondary'
      - else
        %p.lead None