.container
  %br
  .card.card-block
    %p.lead
      EZcash Tran ID:
      - unless @transfer.ez_cash_tran_id.blank?
        = link_to @transfer.ez_cash_tran_id, transaction_path(@transfer.ez_cash_tran_id)
      - else
        None
    - unless @transfer.club_credit_transaction_id.blank?
      %p.lead
        One-sided Club Credit EZcash Tran ID:
        = link_to @transfer.club_credit_transaction_id, transaction_path(@transfer.club_credit_transaction_id)
    %p.lead
      DateTime of transfer:
      = @transfer.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
    %p.lead
      From:
      = @from.full_name unless @from.blank?
    %p.lead
      To:
      = @to.full_name unless @to.blank?
    %p.lead
      Caddy Fee:
      = number_to_currency(@transfer.caddy_fee)
    %p.lead
      Tip:
      = number_to_currency(@transfer.caddy_tip)
    %p.lead
      Transaction Fee:
      = number_to_currency(@transfer.fee)
    %p.lead
      Note:
      = @transfer.note
    %p.lead
      Total:
      = number_to_currency(@transfer.amount)
    - if @transfer.reversed?
      %p.lead.text-danger
        Reversed
  = form_for @transfer, :html => {class: 'form-horizontal', role: 'form', id: 'transfer_form'} do |f|
    = f.hidden_field :reversed, value: true
    = link_to 'Back', :back, class: 'btn btn-secondary'
    - if @transfer.reversable?
      = f.submit "Reverse", :class => 'btn btn-danger', data: { confirm: 'Are you sure you want to reverse this transfer?' }