.container
  %br
  .card.card-block
    %h4.card-title Transactions
    - unless @transactions.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Tran ID
              %th DateTime
              %th from_acct_id
              %th to_acct_id
              %th Tran Code
              %th Sec Tran Code
              %th Amount
              %th Description
              %th
          %tbody
            - @transactions.each do |transaction|
              %tr
                %td= transaction.id
                %td= transaction.date_time
                %td= transaction.from_acct_id
                %td= transaction.to_acct_id
                %td= transaction.tran_code
                %td= transaction.sec_tran_code
                %td= number_to_currency(transaction.amt_auth)
                %td= transaction.Description
                %td
                  = link_to "Show", transaction, class: 'btn btn-secondary'
    - else
      %p.lead None

  = paginate @transactions