.container
  %br
  .card.card-block
    %h4.card-title 
      -# Withdrawals
      Transactions
    - unless @transactions.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              -# %th Tran ID
              %th= transaction_sort_link 'tranID', "Tran ID"
              -# %th Device ID
              %th= transaction_sort_link 'dev_id', "Device ID"
              -# %th DateTime
              %th= transaction_sort_link 'date_time', "DateTime"
              -# %th Code
              %th= transaction_sort_link 'error_code', "Code"
              -# %th Status
              %th= transaction_sort_link 'tran_status', "Status"
              -# %th Amount
              %th= transaction_sort_link 'amt_auth', "Amount"
              %th
          %tbody
            - @transactions.each do |transaction|
              %tr{class: "#{transaction.reversal? ? 'table-danger' : '' }"}
                %td= transaction.id
                %td= transaction.dev_id
                %td= transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                %td= transaction.error_code_description
                %td= transaction.status_description
                %td= number_to_currency(transaction.amt_auth)
                %td
                  = link_to "Show", transaction, class: 'btn btn-secondary'
    - else
      %p.lead None

  = paginate @transactions