.container
  %br
  .card.card-block
    %h4.card-title Withdrawals
    - unless @transactions.blank?
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Tran ID
              %th Device ID
              %th DateTime
              %th Code
              %th Status
              %th Amount
              %th
          %tbody
            - @transactions.each do |transaction|
              %tr{class: "#{transaction.reversal? ? 'table-danger' : '' }"}
                %td= transaction.id
                %td= transaction.dev_id
                %td= transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
                %td= transaction.error_code_description
                %td= transaction.status_description
                %td= number_to_currency(transaction.amt_auth)
                %td
                  = link_to "Show", transaction, class: 'btn btn-secondary'
    - else
      %p.lead None

  = paginate @transactions