.container
  %br
  .card.card-block
    %p.lead
      Tran ID:
      = @transaction.id
    %p.lead
      Device ID:
      = @transaction.dev_id
    %p.lead
      From Account:
      = @transaction.from_acct_id
    %p.lead
      To Account:
      = @transaction.to_acct_id
    %p.lead
      DateTime:
      = @transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
    %p.lead
      Code:
      = @transaction.error_code_long_description
    %p.lead
      Status:
      = @transaction.status_long_description
    %p.lead
      Amount:
      = number_to_currency(@transaction.amt_auth)
    %p.lead
      Fee:
      = number_to_currency(@transaction.ChpFee)
    %p.lead
      Description:
      = @transaction.Description

  = link_to 'Back', :back, class: 'btn btn-secondary'