.container
  %br
  .card.card-block
    %p.lead
      Tran ID:
      = @transaction.id
    %p.lead
      Date/Time:
      = @transaction.date_time
    %p.lead
      From Acct ID:
      = @transaction.from_acct_id
    %p.lead
      To Acct ID:
      = @transaction.to_acct_id
    %p.lead
      Tran Code:
      = @transaction.tran_code
    %p.lead
      Sec Tran Code:
      = @transaction.sec_tran_code
    %p.lead
      Amount:
      = number_to_currency(@transaction.amt_auth)
    %p.lead
      Description:
      = @transaction.Description
  = link_to 'Back', :back, class: 'btn btn-secondary'