.container-fluid
  %br
  %p.lead
    .pull-right
      %a{href: reports_path(format: "csv", club_id: @club.id, 'report[start_date]' => @start_date, 'report[end_date]' => @end_date), class: 'btn btn-primary'}
        %i.fa.fa-download
        Download CSV Report
  %p
    = form_tag reports_path, :method => 'get', :class => "form-inline" do
      =# hidden_field_tag 'report[type]', @type
      - unless current_club.blank?
        - if current_user.clubs.count <= 1
          - unless current_club.blank?
            = current_club.name 
          - else
            = current_user.clubs.first.name unless current_user.clubs.blank?
        - else
          = select_tag 'report[club_id]', options_from_collection_for_select(current_user.clubs, "id", "name", @club.id), class: "form-control"
      .form-group
        = text_field_tag 'report[start_date]', nil, :placeholder => "Start Date", value: "#{@start_date.blank? ? Date.today : @start_date}", class: "form-control", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
      To
      .form-group
        = text_field_tag 'report[end_date]', nil, :placeholder => "End Date", value: "#{@end_date.blank? ? Date.today : @end_date}", class: "form-control", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
      = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
        %i.fa.fa-search

  .row
    .col-sm-4
      %p.lead.text-muted= "#{pluralize(@transfers.count, 'member')} found"
      .card.card-block.card-outline-primary
        %h4.card-title.text-primary
          Members
          .pull-right
            = number_to_currency(@members_balance_total)
        - unless @transfers.blank?
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Member
                  %th Balance
                  %th
              %tbody
                - @transfers.each do |transfer|
                  %tr
                    %td= link_to transfer.customer.full_name, transfer.customer unless transfer.customer.blank?
                    %td= number_to_currency(transfer.player.member.account.Balance) unless transfer.customer.blank? or transfer.customer.account.blank?
                    %td= link_to "Show", transfer, class: 'btn btn-secondary'
        - else
          %p.lead None
    .col-sm-4
      %p.lead.text-muted= "#{pluralize(@transfers.count, 'transfer')} found"
      .card.card-block.card-outline-primary
        %h4.card-title.text-primary
          Transfers
          .pull-right
            = number_to_currency(@transfers_total)
        - unless @transfers.blank?
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Date
                  %th Description
                  %th Amount
                  %th Fee
                  %th
              %tbody
                - @transfers.each do |transfer|
                  %tr
                    %td= transfer.created_at.strftime("%-m/%-d/%y")
                    %td
                      Member:
                      = link_to transfer.member_name, transfer.member
                      %br
                      Caddy:
                      = link_to transfer.caddy_name, transfer.caddy
                    %td= number_to_currency(transfer.amount_paid_to_caddy)
                    %td= number_to_currency(transfer.fee_in_dollars)
                    %td= link_to "Show", transfer, class: 'btn btn-secondary'
        - else
          %p.lead None

    .col-sm-4
      %p.lead.text-muted= "#{pluralize(@transactions.count, 'transaction')} found"
      .card.card-block.card-outline-success
        %h4.card-title.text-success
          EZcash Transactions
          .pull-right
            = number_to_currency(@transactions_total)
        - unless @transactions.blank?
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Date
                  %th Description
                  %th Amount
                  %th Fee
                  %th
              %tbody
                - @transactions.each do |transaction|
                  %tr{class: "#{transaction.reversal? ? 'table-danger' : '' }"}
                    %td= transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y")
                    %td= transaction.Description
                    %td= number_to_currency(transaction.amt_auth)
                    %td= number_to_currency(transaction.ChpFee)
                    %td
                      = link_to "Show", transaction, class: 'btn btn-secondary'
        - else
          %p.lead None