.container-fluid
  %br
  %p.lead
    .pull-right
      - unless @transfers.blank?
        %a{href: reports_path(format: "csv", 'report[start_date]' => @start_date, 'report[end_date]' => @end_date), class: 'btn btn-primary'}
          %i.fa.fa-download
          CSV Report
      -#
        = form_tag reports_clear_member_balances_path, :method => 'get', :class => "form-inline" do
          = hidden_field_tag 'report[course_id]', @course.id
          = hidden_field_tag 'report[start_date]', @start_date
          = hidden_field_tag 'report[end_date]', @end_date
          -# = button_tag(:type => 'submit', :class => "btn btn-danger", :data => { :confirm => 'Are you sure you want to clear these member balances? This action cannot be undone.' }) do
          = button_tag(:type => 'submit', :class => "btn btn-danger #{(@transfers_total != @transactions_total or @transfers_total != @members_balance_total.abs) ? 'disabled' : ''} ", :data => { :confirm => 'Are you sure you want to clear these member balances? This action cannot be undone.' }) do
            %i.fa.fa-exclamation-triangle
            Clear Balances
      -#
        - unless @members_balance_total.zero?
          %a{href: reports_clear_member_balances_path, class: "btn btn-warning"}
            %i.fa.fa-refresh
            Clear Member Balances
  %p
    = form_tag reports_path, :method => 'get', :class => "form-inline" do
      =# hidden_field_tag 'report[type]', @type
      -#
        - unless current_course.blank?
          - if current_user.courses.count <= 1
            - unless current_course.blank?
              = current_course.name 
            - else
              = current_user.courses.first.name unless current_user.courses.blank?
          - else
            = select_tag 'report[course_id]', options_from_collection_for_select(current_user.courses, "id", "name", @course.id), class: "form-control"
      .form-group
        = text_field_tag 'report[start_date]', nil, :placeholder => "Start Date", value: "#{@start_date.blank? ? Date.today : @start_date}", class: "form-control", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
      To
      .form-group
        = text_field_tag 'report[end_date]', nil, :placeholder => "End Date", value: "#{@end_date.blank? ? Date.today : @end_date}", class: "form-control", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
      = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
        %i.fa.fa-search
  %p.lead.text-muted= "#{pluralize(@transfers.count, 'transfer')} found"

  .row
    -#
      .col-sm-6
        .card.card-block.card-outline-warning
          %h4.card-title.text-warning
            %i.fa.fa-user-circle-o
            = "Members (#{@members.count})"
            .pull-right
              = number_to_currency(@members_balance_total)
          - unless @members.blank?
            .table-responsive
              %table.table.table-striped
                %thead
                  %tr
                    %th Member
                    %th Balance
                    %th
                %tbody
                  - @members.each do |member|
                    - unless member.blank?
                      %tr
                        %td
                          = member.full_name
                          - unless member.parent_customer.blank?
                            %br
                            = link_to "(#{member.parent_customer.full_name})", member.parent_customer
                        %td
                          = number_to_currency(member.balance)
                        %td= link_to "Show", member, class: 'btn btn-secondary'
          - else
            %p.lead None
    .col-sm-12
      .card.card-block.card-outline-primary
        %h4.card-title.text-primary
          %i.fa.fa-dollar
          = "Member to Caddy Transfers (#{@transfers.count})"
          .pull-right
            = number_to_currency(@transfers_total)
        - unless @transfers.blank?
          .table-responsive
            %table.table.table-striped
              %thead
                %tr
                  %th Date of play
                  %th Member number
                  %th Amount billed
                  %th Player name
                  %th Member name
                  %th Date caddy paid
                  %th Amount paid to caddy
                  %th Caddy name
                  %th Reference number
                  -# %th Description
                  %th Note
                  -# %th Amount
                  %th
              %tbody
                - @transfers.each do |transfer|
                  %tr
                    %td= "#{transfer.date_of_play.blank? ? 'N/A' : transfer.date_of_play.in_time_zone(current_user.time_zone).strftime('%-m/%-d/%y')}"
                    %td= transfer.member_number
                    %td= number_to_currency(transfer.amount_billed)
                    %td= "#{transfer.player_name.blank? ? 'N/A' : transfer.player_name}"
                    %th= transfer.member_name
                    %td= transfer.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y")
                    %td= number_to_currency(transfer.amount_paid_to_caddy)
                    %td= transfer.caddy_name
                    %td= link_to transfer.reference_number, transaction_path(transfer.reference_number) unless transfer.reference_number.blank?
                    -# %td= transfer.description
                    %td= transfer.note
                    -# %td= number_to_currency(transfer.amount_paid_total)
                    %td= link_to "Show", transfer, class: 'btn btn-secondary'
        - else
          %p.lead None