!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CaddyVend
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/

  %body
    = render 'shared/default_navbar'
    %div.container-fluid
      -# unless current_page?(root_path)
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          %p
            %div{:class => "alert alert-dismissible alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
              %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
              = content_tag :div, msg, :id => "flash_#{name}"
      = yield
    =# render 'shared/default_footer_navbar'

