= simple_form_for(@member) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.collection_select :course_ids, Course.order(:name), :id, :name, {}, {multiple: true} 

  .form-actions
    = f.button :submit
