%p#notice= notice

%p
  %b First name:
  = @member.first_name
%p
  %b Last name:
  = @member.last_name
%p
  %b Courses:
  %br
  - @member.courses.each do |course|
    = link_to course.name, course
    %br

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
